@model DriverPriceViewModel
@{
    ViewData["Title"] = "Index";
}

<section id="breadcumbs">
    <div class="container">
        <ul>
            <li><a href="/Home/Index">Home</a></li>
            <li><a href="/Guides_Drivers/Index">Guides & Drivers</a></li>
            <li><a href="/About/Index">Alexandre Paiva</a></li>
            <li><a href="">Journey milestones</a></li>

        </ul>
    </div>
</section>
<section id="driver_price">
    <div class="container">
        <div class="wrapper">
            <div class="header">
                <h3>Decide your journey milestones</h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="profile">
                        <div class="profile_img">
                            <img src="~/ui/img/driver_price/rectangle.png" alt="">
                        </div>
                        <div class="profile_details">
                            <input type="hidden" asp-for="Id" />
                            <h4>@Model.Fullname</h4>
                            <p>@Model.TotalRide times ride</p>
                            <p>@Model.CarName</p>
                            <div class="div">
                                <button class="aviable">available</button>
                                <img src="~/ui/img/guides_drivers/group-4.svg" alt="">
                                <img src="~/ui/img/guides_drivers/user.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="date">
                        <div class="inputs">
                            <div class="date_input">
                                <label for="">Start date</label>
                                <input id="startDate" type="date" placeholder="Date" required>
                            </div>
                            <div class="date_input">
                                <label for="">End date</label>
                                <input id="endDate" type="date" placeholder="Date" required>
                            </div>
                        </div>
                        <div class="buttons">
                            <div class="reyting">
                                <img src="~/ui/img/guides_drivers/star.svg" alt="">
                                <img src="~/ui/img/guides_drivers/star.svg" alt="">
                                <img src="~/ui/img/guides_drivers/star.svg" alt="">
                                <img src="~/ui/img/guides_drivers/star.svg" alt="">
                                <img src="~/ui/img/guides_drivers/star.svg" alt="">
                                <span>(23)</span>
                            </div>
                            <button class="light-btn">Details</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="select_price">
                        <div class="select_price_btns">
                            <button class="btn btn_manually">Route manually</button>
                            <button class="btn btn_fixed">Fixed price</button>
                        </div>
                        <table id="routeTable" class="table select_price_title">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">From</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">To</th>
                                    <th scope="col">Info</th>
                                    <th scope="col">Route Cost</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Footer 3</th>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section styles{
    <link href="~/select2/css/select2.min.css" rel="stylesheet" />
}
@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/select2/js/select2.min.js"></script>
    <script src="~/DataJS/date.js"></script>
    <script src="~/sweetalert/sweetalert.min.js"></script>
    <script src="~/sweetalert/SwalUtility.js" asp-append-version="true"></script>
    <script src="~/Custom/driverPrice.js" asp-append-version="true"></script>
}

