/*scroll bar customize*/
body::-webkit-scrollbar {
    width: 8px;
    background-color: #ced7e1;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(left, #96A6BF, #63738C);
    box-shadow: inset 0 0 1px 1px #5C6670;
}

/*Select2 responsive*/
.select2 {
    width: 100% !important;
    outline: none;
}
.select2 {
    outline: none;
}
.select2-selection {
    overflow: hidden;
}

.select2-selection__rendered {
    white-space: normal;
    word-break: break-all;
}