@{
    ViewData["Title"] = "Home Page";
}

<section id="swiper">
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="~/ui/img/swiper/bitmap.png" alt=""></div>
            <div class="swiper-slide"><img src="~/ui/img/swiper/nature-1.jpg" alt=""></div>
            <div class="swiper-slide"><img src="~/ui/img/swiper/nature-2.jpg" alt=""></div>
            <div class="swiper-slide"><img src="~/ui/img/swiper/nature-4.jpg" alt=""></div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-bottom-text">
            <p>Bosnia, Saraybosna</p>
        </div>
    </div>
</section>


<section id="start_your_journey">
    <!-- Start your journey -->
    <div class="container">
        <div class="start_your_journey_top">
            <h6>Start your journey</h6>
        </div>
        <div class="start_your_journey_bottom">
            <input type="text" placeholder="Country">
            <input type="text" placeholder="City">
            <input type="date" placeholder="Date">
            <input type="date" placeholder="Date">
            <button class="btn">Search</button>
        </div>
    </div>
</section>


<section id="why_mursheed">
    <!-- Why Mursheed ? -->
    <div class="container">
        <div class="why_mursheed_top">
            <h6>Why Mursheed ?</h6>
        </div>
        <div class="why_mursheed_bottom">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="why_mursheed_bottom_item">
                        <img src="~/ui/img/why_mursheed/group-9.svg" alt="">
                        <p>Get deals and great trips at home and worldwide</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="why_mursheed_bottom_item">
                        <img src="~/ui/img/why_mursheed/security.svg" alt="">
                        <p>Quick and secure booking</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="why_mursheed_bottom_item">
                        <img src="~/ui/img/why_mursheed/24-hours.svg" alt="">
                        <p>24/7 Support</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="why_mursheed_bottom_item">
                        <img src="~/ui/img/why_mursheed/money-bag.svg" alt="">
                        <p>Less money</p>
                    </div>
                </div>
            </div>




        </div>
    </div>

</section>


<section id="swiper_most_popular_drivers">
    <!-- Most Popular Drivers -->
    <div class="container">
        <div class="swiper_most_popular_drivers_top">
            <h6>Most Popular Drivers</h6>
            <a href="">View all</a>
        </div>
        <div class="swiper_most_popular_drivers_bottom">
            <div class="swiper_most_popular_drivers_bottom_center">
                <!-- Swiper most_popular_drivers -->
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="most_popular_drivers_bottom_item">
                                <img src="~/ui/img/swiper_most_popular_drivers/rectangle1.jpg" alt="">
                                <p class="most_popular_drivers_name">Jana Strassmann</p>
                                <div class="most_popular_drivers_bottom_item_ratings">
                                    <img src="~/ui/img/swiper_most_popular_drivers/star-copy.svg" alt="">
                                    <p>4.8</p>
                                    <span>(224 ratings)</span>
                                </div>
                                <p>Mercedes-Benz Vito</p>
                                <div class="most_popular_drivers_bottom_item_rides">
                                    <p>198 rides</p>
                                    <button class="btn unavailable">unavailable</button>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="most_popular_drivers_bottom_item">
                                <img src="~/ui/img/swiper_most_popular_drivers/rectangle2.jpg" alt="">
                                <p class="most_popular_drivers_name">Dusana Semenov</p>
                                <div class="most_popular_drivers_bottom_item_ratings">
                                    <img src="~/ui/img/swiper_most_popular_drivers/star-copy.svg" alt="">
                                    <p>4.8</p>
                                    <span>(224 ratings)</span>
                                </div>
                                <p>Hyundai H3</p>
                                <div class="most_popular_drivers_bottom_item_rides">
                                    <p>134 rides</p>
                                    <button class="btn available">available</button>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="most_popular_drivers_bottom_item">
                                <img src="~/ui/img/swiper_most_popular_drivers/rectangle3.jpg" alt="">
                                <p class="most_popular_drivers_name">Qiu Xun</p>
                                <div class="most_popular_drivers_bottom_item_ratings">
                                    <img src="~/ui/img/swiper_most_popular_drivers/star-copy.svg" alt="">
                                    <p>4.8</p>
                                    <span>(224 ratings)</span>
                                </div>
                                <p>Hyundai Elantra</p>
                                <div class="most_popular_drivers_bottom_item_rides">
                                    <p>101 rides</p>
                                    <button class="btn available">available</button>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="most_popular_drivers_bottom_item">
                                <img src="~/ui/img/swiper_most_popular_drivers/rectangle4.jpg" alt="">
                                <p class="most_popular_drivers_name">Amelia Cabal</p>
                                <div class="most_popular_drivers_bottom_item_ratings">
                                    <img src="~/ui/img/swiper_most_popular_drivers/star-copy.svg" alt="">
                                    <p>4.8</p>
                                    <span>(224 ratings)</span>
                                </div>
                                <p>Mercedes C350</p>
                                <div class="most_popular_drivers_bottom_item_rides">
                                    <p>198 rides</p>
                                    <button class="btn unavailable">unavailable</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>

</section>


<section id="swiper_popular_attractions_locations">
    <!-- Popular Attractions Locations -->
    <div class="container">
        <div class="swiper_popular_attractions_locations_top">
            <h6>Popular Attractions Locations</h6>
            <a href="">View all</a>
        </div>
        <div class="swiper_popular_attractions_locations_bottom">
            <div class="swiper_popular_attractions_locations_bottom_center">
                <!-- Swiper most_popular_drivers -->
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="popular_attractions_locations_bottom_item">
                                <img src="~/ui/img/swiper_popular_attractions_locations/rectangle1.jpg" alt="">
                                <p class="popular_attractions_locations_name">Gabaland Park</p>
                                <div class="popular_attractions_locations_bottom_item_ratings">
                                    <img src="~/ui/img/swiper_popular_attractions_locations/star-copy.svg" alt="">
                                    <p>4.8</p>
                                    <span>(224 ratings)</span>
                                </div>
                                <p>Azerbaijan, Baku</p>

                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="popular_attractions_locations_bottom_item">
                                <img src="~/ui/img/swiper_popular_attractions_locations/rectangle2.jpg" alt="">
                                <p class="popular_attractions_locations_name">Barcelona Park</p>
                                <div class="popular_attractions_locations_bottom_item_ratings">
                                    <img src="~/ui/img/swiper_popular_attractions_locations/star-copy.svg" alt="">
                                    <p>4.8</p>
                                    <span>(160 ratings)</span>
                                </div>
                                <p>Spain, Barcelona</p>

                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="popular_attractions_locations_bottom_item">
                                <img src="~/ui/img/swiper_popular_attractions_locations/rectangle3.jpg" alt="">
                                <p class="popular_attractions_locations_name">Quezon City</p>
                                <div class="popular_attractions_locations_bottom_item_ratings">
                                    <img src="~/ui/img/swiper_popular_attractions_locations/star-copy.svg" alt="">
                                    <p>4.8</p>
                                    <span>(224 ratings)</span>
                                </div>
                                <p>Georgia, Tbilisi</p>

                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="popular_attractions_locations_bottom_item">
                                <img src="~/ui/img/swiper_popular_attractions_locations/rectangle4.jpg" alt="">
                                <p class="popular_attractions_locations_name">Cincinnati</p>
                                <div class="popular_attractions_locations_bottom_item_ratings">
                                    <img src="~/ui/img/swiper_popular_attractions_locations/star-copy.svg" alt="">
                                    <p>4.8</p>
                                    <span>(90 ratings)</span>
                                </div>
                                <p>Hong Kong, Macau</p>

                            </div>
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>

</section>


<section id="swiper_our_offers_partners">
    <!-- Our offers & Partners -->
    <div class="container">
        <div class="swiper_our_offers_partners_top">
            <h6>Our offers & Partners</h6>
            <a href="">View all</a>
        </div>
        <div class="swiper_our_offers_partners_bottom">
            <div class="swiper_our_offers_partners_bottom_center">
                <!-- Swiper most_popular_drivers -->
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="swiper_our_offers_partners_bottom_item">
                                <img src="~/ui/img/swiper_our_offers_partners/rectangle1.jpg" alt="">
                                <div class="item_position_bottom">
                                    <p class="swiper_our_offers_partners_name">The House Cafe</p>
                                    <p>Azerbaijan, Baku</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper_our_offers_partners_bottom_item">
                                <img src="~/ui/img/swiper_our_offers_partners/rectangle2.jpg" alt="">
                                <div class="item_position_bottom">
                                    <p class="swiper_our_offers_partners_name">Nani Georgian House</p>
                                    <p>Georgia, Tbilisi</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper_our_offers_partners_bottom_item">
                                <img src="~/ui/img/swiper_our_offers_partners/rectangle3.jpg" alt="">
                                <div class="item_position_bottom">
                                    <p class="swiper_our_offers_partners_name">Vrelo Bosne</p>
                                    <p>Bosnia, Saraybosna</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper_our_offers_partners_bottom_item">
                                <img src="~/ui/img/swiper_our_offers_partners/rectangle4.jpg" alt="">
                                <div class="item_position_bottom">
                                    <p class="swiper_our_offers_partners_name">Anadolu Restaurant</p>
                                    <p>Turkey, Ankara</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>

</section>


<section id="swiper_crated_for">
    <!--crated for -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="crated_for_center">
                    <img src="~/ui/img/created_for/oval.png" alt="">
                    <p class="crated_for_name">Jana Strassmann</p>
                    <span>CEO of Decatur Investment Inc.</span>
                    <p class="crated_for_description">
                        We created our drivers to help you to find the most
                        dependable
                        and highest quality drivers services, anytime and anywhere. All our drivers are
                        uniformed
                        and fully licensed. We created our drivers to help you to find the most dependable and
                        highest quality drivers services, anytime and anywhere. All our drivers are uniformed
                        and
                        fully licensed.
                    </p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="crated_for_center">
                    <img src="~/ui/img/created_for/Brad-Pitt.png" alt="">
                    <p class="crated_for_name">Brad Pitts</p>
                    <span>CEO of Decatur Investment Inc.</span>
                    <p class="crated_for_description">
                        We created our drivers to help you to find the most
                        dependable
                        and highest quality drivers services, anytime and anywhere. All our drivers are
                        uniformed
                        and fully licensed. We created our drivers to help you to find the most dependable and
                        highest quality drivers services, anytime and anywhere. All our drivers are uniformed
                        and
                        fully licensed.
                    </p>
                </div>
            </div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>



</section>


<section id="swiper_latest_tourists_reviews">
    <!-- Latest Tourists Reviews -->
    <div class="container">
        <div class="swiper_latest_tourists_reviews_top">
            <h6>Latest Tourists Reviews</h6>
            <a href="">View all</a>
        </div>
        <div class="swiper_latest_tourists_reviews_bottom">
            <div class="swiper_latest_tourists_reviews_bottom_center">
                <!-- Swiper most_popular_drivers -->
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="swiper_latest_tourists_reviews_bottom_item">
                                <img src="~/ui/img/swiper_latest_tourists_reviews/rectangle1.jpg" alt="">
                                <div class="item_position_bottom">
                                    <p class="swiper_latest_tourists_reviews_name">Rafeeda El Nouri</p>
                                    <p>
                                        I had been following Tourists on Instagram for a year and just loved
                                        the images and the vibe... we finally had the opportunity to go!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper_latest_tourists_reviews_bottom_item">
                                <img src="~/ui/img/swiper_latest_tourists_reviews/rectangle2.jpg" alt="">
                                <div class="item_position_bottom">
                                    <p class="swiper_latest_tourists_reviews_name">Rafeeda El Nouri</p>
                                    <p>
                                        I had been following Tourists on Instagram for a year and just loved
                                        the images and the vibe... we finally had the opportunity to go!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper_latest_tourists_reviews_bottom_item">
                                <img src="~/ui/img/swiper_latest_tourists_reviews/rectangle3.jpg" alt="">
                                <div class="item_position_bottom">
                                    <p class="swiper_latest_tourists_reviews_name">Rafeeda El Nouri</p>
                                    <p>
                                        I had been following Tourists on Instagram for a year and just loved
                                        the images and the vibe... we finally had the opportunity to go!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper_latest_tourists_reviews_bottom_item">
                                <img src="~/ui/img/swiper_latest_tourists_reviews/rectangle4.jpg" alt="">
                                <div class="item_position_bottom">
                                    <p class="swiper_latest_tourists_reviews_name">Rafeeda El Nouri</p>
                                    <p>
                                        I had been following Tourists on Instagram for a year and just loved
                                        the images and the vibe... we finally had the opportunity to go!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>

</section>
<section id="mursheed_app">
    <div class="container">
        <div class="mursheed_app_inside">
            <div class="mursheed_app_left">
                <h6>Download the Mursheed App</h6>
                <p>
                    Upload our own Mursheed application to your smartphone and discover just how easy booking a car
                    can
                    be.
                    With this application, you can booking a car quickly.
                </p>
                <a href=""><img src="~/ui/img/mursheed_app/apple_store.svg" alt=""></a>
                <a href=""><img src="~/ui/img/mursheed_app/google_play.svg" alt=""></a>
            </div>
            <div class="mursheed_app_right">
                <img src="~/ui/img/mursheed_app/as.png" alt="">
            </div>
        </div>
    </div>
</section>
